.Title{
    Text-align:center;
    color : red;
    font-size: 100px;
}

body{
    background-color:yellow;
}

table{
    table-layout: fixed;
    width: 100%;
    border: 5px solid black;
    background: blue;
}

tr{
    text-align: center;
    font-size: 30px;
}

.button1{
    flex-grow: 1;
    
    text-align:center;
    width: 100px;
    height: 100px;

    
    border-radius: 36px;
    background: #e0e0e0;
}

header{
    display: flex;
    margin: 15px auto;
    gap: 15px;
}

nav{
    border-bottom: 3px solid black;
    background-color: brown;
    align-items: center;
}

.kaka{
    display: flex;
    margin: 10px;
    padding: 10px;
    list-style: none;
    align-items: center;
}

.kaka li{
    padding: 1px 10%;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
