body{
    margin: 0;
    background-image: url("test.png");
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    
    flex:1;
}


.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.box {
    width: 400px;
    height: 150px;
    
    flex-shrink: 0;
    flex-grow: 0;
    
    border: 5px solid black;
    border-radius: 40px;
    background-color: black;
    
    color: white;
    font-size: 50px;
    text-align: center;
    align-content: center;
}

.box:hover {
    width: 400px;
    height: 150px;

    border: 5px solid black;
    border-radius: 40px;
    background-color: transparent;

    color: black;
    font-size: 50px;
    text-align: center;
    align-content: center;
}

a{
    text-decoration: none;
}

.big-box {
    width: 830px;
    height: 150px;
    
    border: 5px solid black;
    border-radius: 40px;
    background-color: black;

    color: white;
    font-size: 50px;
    text-align: center;
    align-content: center;
    
}

.big-box:hover {
    width: 830px;
    height: 150px;

    border: 5px solid black;
    border-radius: 40px;
    background-color: transparent;

    color: black;
    font-size: 50px;
    text-align: center;
    align-content: center;

}

header p{
    background-color: black;
    padding: 40px 0;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: Impact;
    margin-top: 0%;
}



footer {
    background-color: black;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Impact;
}


.txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    text-align: center;
    font-size: 100px;
}

h2 {
    text-align: center;
    font-size: 70px;
}

.txt div p {
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;
}

.txt p{
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;
}
