body{
    margin: 0;
    background-image: url("fond.png");

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    
    flex:1;
}


.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box {
    width: 400px;
    height: 150px;
    
    flex-shrink: 0;
    flex-grow: 0;
    
    border: 5px solid black;
    border-radius: 40px;
    background-color: black;
    box-shadow: 0 0 20px black;
    
    color: white;
    font-size: 50px;
    text-align: center;
    align-content: center;
}

.box:hover {
    width: 400px;
    height: 150px;

    border: 5px solid black;
    border-radius: 40px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 20px black;

    color: black;
    font-size: 50px;
    text-align: center;
    align-content: center;
}

a{
    text-decoration: none;
}

.big-box {
    width: 830px;
    height: 150px;
    
    border: 5px solid black;
    border-radius: 40px;
    background-color: black;
    box-shadow: 0 0 20px black;

    color: white;
    font-size: 50px;
    text-align: center;
    align-content: center;
    
}

.big-box:hover {
    width: 830px;
    height: 150px;

    border: 5px solid black;
    border-radius: 40px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 20px black;

    color: black;
    font-size: 50px;
    text-align: center;
    align-content: center;

}

header p{
    background-color: black;
    padding: 40px 0;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: Impact;
    margin-top: 0%;
    text-shadow: 0 0 20px #ffffff;
    box-shadow: 0 0 100px #000000;
}



footer {
    
    background-color: black;
    padding: 10px 0;
    box-shadow:0 0 100px black;


}

footer p{
    font-family: Impact;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 20px white;
}


.txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    text-align: center;
    font-size: 100px;
    text-shadow: 0 0 3px black;
}

h2 {
    text-align: center;
    font-size: 70px;
}

.txt div p {
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;

}

.txt p{
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;
}

.row2 {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.commentaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pseudoBox{
    width: 100px;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    text-align: center;
    border: solid 5px black;
    resize: none;

}

.CommentaireBox{
    width: 500px;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    text-align: left;
    border: solid 5px black;
    resize: none;
}

.BoutonEnvoyer{
    background-color: white;
    width: 100px;
    border:solid 5px black;
    border-radius: 10px;
}

.commentaire table{
    text-align: center;
    background-color: white;
    border: solid 5px black;
    border-radius: 10px;
    width: 90%;
}

tr {
    border: solid 5px black;
}
