.Title{
    Text-align:center;
    color : red;
    font-size: 100px;
}

body{
    background-color:yellow;
}

table{
    table-layout: fixed;
    width: 100%;
    border: 5px solid black;
    background: blue;
}

tr{
    text-align: center;
    font-size: 30px;
}

button{
    flex-grow: 1;
    
    text-align:center;
    width: 300px;
    height: 100px;

    
    border-radius: 36px;
    background: #e0e0e0;
}

header{
    display: flex;
    margin: 15px auto;
    gap: 15px;
}