body{
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    
    flex:1;
}


.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.box {
    width: 400px;
    height: 150px;
    border: 2px solid black;
    
    color: black;
    font-size: 50px;
    text-align: center;
    align-content: center;
}

.row a{
    text-decoration: none;
}

.big-box {
    width: 830px;
    height: 150px;
    border: 2px solid black;

    color: black;
    font-size: 50px;
    text-align: center;
    align-content: center;
    
}

header p{
    background-color: black;
    padding: 40px 0;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: Impact;
}



footer {
    background-color: black;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Impact;
}


.intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    text-align: center;
    font-size: 70px;
}

.intro p {
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;
}