@font-face { font-family: Lexend; src: url('images/Lexend-Light.ttf'); }

body{
    margin: 0;
    background-image: url("images/test2.png");
    font-family: Lexend;

}


.Accueil{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    justify-items: center;
}



.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex:1;
    width: 100%;
    height: 100%;
}



.leftImage{
    
    background-image: url("images/gauche.png");
    width: 400px;
    height: 800px;

    
    border: 10px solid black;
    border-radius: 40px;
    box-shadow: 0 0 20px black;
    
    position: absolute;
    left: 1%;

}

.rightImage {
    background-image: url("images/droite.png");

    width: 400px;
    height: 800px;

    border: 10px solid black;
    border-radius: 40px;
    box-shadow: 0 0 20px black;

    position: absolute;
    right: 1%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.box {
    width: 400px;
    height: 150px;
    
    flex-shrink: 0;
    flex-grow: 0;
    gap:30px;
    
    border: 5px solid black;
    border-radius: 40px;
    background-color: black;
    box-shadow: 0 0 20px black;
    
    color: white;
    font-size: 45px;
    text-align: center;
    align-content: center;
    
    transition: background-color 0.5s,color 1s, width 0.5s;
}

.box:hover {
    background-color: rgba(0,0,0,0.2);
    color: black;
    width: 500px;
}

a{
    text-decoration: none;
}

.big-box {
    width: 830px;
    height: 150px;
    
    border: 5px solid black;
    border-radius: 40px;
    background-color: black;
    box-shadow: 0 0 20px black;

    color: white;
    font-size: 45px;
    text-align: center;
    align-content: center;
    

    transition: background-color 0.5s,color 1s, height 0.5s;
}

.big-box:hover {
    background-color: rgba(0,0,0,0.2);
    color: black;
    height: 180px;
    
}




header{
    display: flex;
    background-color: black;
    height: 200px;
    box-shadow: 0 0 100px #000000;
    align-items: center;
    justify-content: start;
    margin-top: 0%;
    flex-direction: row;
    
}

header p{
    color: white;
    font-size: 100px;
    font-family: Impact;
    text-align: center;
    text-shadow: 0 0 20px white;
    border-bottom: 10px solid transparent;
    transition: font-size 0.3s, border-bottom-color 0.8s;
    width: 100%;
    margin-right: 200px;
}



header img{
    width: 200px;
    height: 200px;
}


footer {
    
    background-color: black;
    padding: 10px 0;
    box-shadow:0 0 100px black;


}   

footer p{
    font-family: Impact;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 20px white;
}

.comment{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.comment ul{
    font-size:40px;
}


.txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    text-align: center;
    font-size: 100px;
    text-shadow: 0 0 3px black;
    animation: apparition 0.5s ease-out
}

h2 {
    text-align: center;
    font-size: 70px;
    text-shadow: 0 0 3px black;
}

.txt div p {
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;

}

.txt p{
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;
    animation: apparition 1s ease-out
}

.row2 {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.commentaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pseudoBox{
    width: 100px;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    text-align: center;
    border: solid 5px black;
    resize: none;
    font-size: 15px;
    box-shadow: 0 0 20px black;
}

.CommentaireBox{
    width: 500px;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    text-align: left;
    border: solid 5px black;
    resize: none;
    font-size: 15px;
    box-shadow: 0 0 20px black;
}

.BoutonEnvoyer{
    background-color: white;
    width: 100px;
    border:solid 5px black;
    border-radius: 10px;
    font-size: 15px;
    transition: font-size 0.5s, transform 0.1s, background-color 1s;
    box-shadow: 0 0 20px black;
}

.BoutonEnvoyer:hover{
    font-size: 20px;
}

.BoutonEnvoyer:active{
    transform: scale(1.1);
}


.commentaire table{
    text-align: center;
    background-color: white;
    border: solid 5px black;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 0 20px black;
}

tr {
    border: solid 5px black;
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 50%;
    height: auto;
    
    border: 5px solid black;
    border-radius: 40px;

    justify-content: center;
    justify-self: center;
    
    margin-bottom: 10%;
    font-size: 20px;
    box-shadow: 0 0 20px black;
}
.contact p{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
    transform-origin: left;
}


.contact input{
    width: auto;
    max-width:300px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: Lexend;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 20px black;
    transform-origin: left;
    
}



.contact textarea{
    width:auto;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    resize: none;
    
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    font-family: Lexend;
    font-size: 20px;
    box-shadow: 0 0 20px black;
    transform-origin: left;
}

.contact button{
    background-color: white;
    height: 50px;
    width: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
    align-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 20px black;
    transition: font-size 0.5s, transform 0.1s;
    transform-origin: left;
}

.contact button:hover{
    font-size: 25px;
}

.contact button:active{
    transform: scale(1.1);
}



.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    width: 500px;
    padding: 20px;

    border: 5px solid black;
    border-radius: 40px;
    box-shadow: 0 0 50px white;

    text-align: center;
    font-family: Lexend;
    animation: apparition 0.3s ease-out;
}

.popup button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family: Lexend;
    transition: transform 0.1s;
}

.popup button:hover {
    transform: scale(1.1);
    background-color: #333;
}

@keyframes apparition {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.range-group {
    display: flex;   
    flex-direction: row; 
    align-items: center; 
    gap: 15px;           

    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.range-group input {
    flex-grow: 1;
    cursor: pointer;
    margin: 0;
}

.range-group p {
    margin: 0 !important; 
    font-family: monospace; 
    font-size: 18px;
    font-weight: bold;
    min-width: 180px;
}




input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range-group input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.range-group input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;    
    width: 20px;
    background: black;      
    border-radius: 50%;      
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: transform 0.1s; 
}

.range-group input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: transform 0.1s;
}

.range-group input[type=range]:active::-webkit-slider-thumb {
    transform: scale(1.2);
}

.shop{
    display: flex;
    
    max-width: 100%;
    gap: 50px;
    margin:50px;
    
    align-content: center;
    justify-content: center;
    text-align: center;
    
    background-color: transparent;
}

.shop-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    height: 400px;
    width: 400px;
    border: 5px solid black;
    border-radius:40px;

    animation: apparition 1s ease-out
}

.shop-image{
    background-color: white;
    width: 350px;
    height: 150px;
    justify-self: center;
    margin: 15px 15px 0px 15px;

}

.shop-item p{
    color:black;
    font-size: 40px;
    margin: 32px;
    max-width: 350px;
}

.shop-item button{
    width: 350px;
    height: 100px;

    border: 5px solid black;
    border-radius: 20px;
    background-color: black;
    box-shadow: 0 0 20px black;
    
    
    color: white;
    font-size: 25px;
    text-align: center;
    align-content: center;
    
    transition: background-color 0.5s;
}

.shop-item button:hover{
    color:black;
    background-color: rgba(0, 0, 0, 0.2);
}



.shop-info{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.shop-info-PopUp{
    display: flex;
    flex-direction: column;
    
    background-color: white;
    width: 80%;
    height: 80%;
    padding: 20px;

    border: 5px solid black;
    border-radius: 40px;
    box-shadow: 0 0 50px white;

    text-align: center;
    font-family: Lexend;
    animation: apparition 0.3s ease-out;
}

.info-produit{
    display: flex;
    flex-direction: row;
}

.desciption{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left:80px;
    margin-right: 60px;
    font-size: 25px;

    width:90%;
    text-align: justify;
}

.prix{
    text-align: center;
    font-size: 50px;
}

.shop-info-PopUp button {
    background-color: black;
    color: white;
    border: none;
    padding:30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-family: Lexend;
    
    transition: transform 0.1s;
}

.shop-info-PopUp button:hover {
    background-color: rgba(0,0,0,0.2);
    background-color: #333;
}