@font-face { font-family: Lexend; src: url('Lexend-Light.ttf'); }

body{
    margin: 0;
    background-image: url("fond.png");
    font-family: Lexend;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    flex:1;
}

.Accueil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftImage{
    
    background-image: url("gauche.png");
    width: 400px;
    height: 600px;
    margin-left: 3%;
    margin-right: 3%;
    
    border: 10px solid black;
    border-radius: 40px;
    box-shadow: 0 0 20px black;

}



.rightImage{
    background-image: url("droite.png");
    width: 400px;
    height: 600px;
    margin-right: 3%;
    margin-left: 3%;
    
    border: 10px solid black;
    border-radius: 40px;
    box-shadow: 0 0 20px black;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.box {
    width: 400px;
    height: 150px;
    
    flex-shrink: 0;
    flex-grow: 0;
    gap:30px;
    
    border: 5px solid black;
    border-radius: 40px;
    background-color: black;
    box-shadow: 0 0 20px black;
    
    color: white;
    font-size: 45px;
    text-align: center;
    align-content: center;
    
    transition: background-color 0.5s,color 1s, width 0.5s;
}

.box:hover {
    background-color: rgba(0,0,0,0.2);
    color: black;
    width: 500px;
}

a{
    text-decoration: none;
}

.big-box {
    width: 830px;
    height: 150px;
    
    border: 5px solid black;
    border-radius: 40px;
    background-color: black;
    box-shadow: 0 0 20px black;

    color: white;
    font-size: 45px;
    text-align: center;
    align-content: center;

    transition: background-color 0.5s,color 1s, height 0.5s;
}

.big-box:hover {
    background-color: rgba(0,0,0,0.2);
    color: black;
    height: 180px;
}

header p{
    color: white;
    font-size: 100px;
    font-family: Impact;
    text-align: center;
    text-shadow: 0 0 20px white;
    border-bottom: 10px solid transparent;
    transition: font-size 0.3s, border-bottom-color 0.8s;
}

.retour p:hover{
    font-size: 110px;
    border-bottom-color: white;
}

header{
    display: flex;
    background-color: black;
    height: 200px;
    box-shadow: 0 0 100px #000000;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
}


footer {
    
    background-color: black;
    padding: 10px 0;
    box-shadow:0 0 100px black;


}

footer p{
    font-family: Impact;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 20px white;
}

.comment{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.comment ul{
    font-size:40px;
}


.txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    text-align: center;
    font-size: 100px;
    text-shadow: 0 0 3px black;
}

h2 {
    text-align: center;
    font-size: 70px;
    text-shadow: 0 0 3px black;
}

.txt div p {
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;

}

.txt p{
    width:90%;
    text-align: justify;
    justify-content: center;
    font-size: 40px;
}

.row2 {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.commentaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pseudoBox{
    width: 100px;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    text-align: center;
    border: solid 5px black;
    resize: none;
    font-size: 15px;
}

.CommentaireBox{
    width: 500px;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    text-align: left;
    border: solid 5px black;
    resize: none;
    font-size: 15px;
    
}

.BoutonEnvoyer{
    background-color: white;
    width: 100px;
    border:solid 5px black;
    border-radius: 10px;
    transition: background-color 1s;
    font-size: 15px;
    transition: font-size 0.5s, transform 0.1s ;
}

.BoutonEnvoyer:hover{
    font-size: 20px;
}

.BoutonEnvoyer:active{
    transform: scale(1.1);
}

.BoutonEnvoyer:active:after{
    background-color: blue;
    width: 100px;
    border:solid 5px black;
    border-radius: 10px;
}

.commentaire table{
    text-align: center;
    background-color: white;
    border: solid 5px black;
    border-radius: 10px;
    width: 90%;
}

tr {
    border: solid 5px black;
}
